{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load authorsanonymous_tags %}
<section class="wrapper spotlight {{ section_alt }} {{ section_style }}">
	<div class="inner">
		{% image value.image fill-600x600 as image %}
		{% pageurl value.link fallback=None as href %}

		{% if image and href %}
		<a href="{{ href }}" class="image">
			<img src="{{ image.url }}">
		</a>
		{% elif image %}
		<span class="image">
			<img src="{{ image.url }}">
		</span>
		{% endif %}
		<div class="content">
			<h2 class="major">{{ value.title }}</h2>
			{% include_block value.content %}
			{% if href %}
				<a href="{{ href }}" class="special">Learn more <i class="fas fa-angle-right"></i></a>
			{% endif %}
		</div>
	</div>
</section>
