django~=2.0.0
django-storages~=1.6.5
wagtail~=2.7.2
wagtail-metadata~=2.0.0
pillow==4.3.0  # Version from alpine linux
olefile==0.43  # Version from alpine linux
boto3~=1.5.8
dj-database-url~=0.5.0
psycopg2~=2.7.4
django-ses~=0.8.4
mailchimp3~=3.0.2
