<!DOCTYPE HTML>
<html>
{% load static from staticfiles %}
{% load wagtailcore_tags %}
{% load authorsanonymous_tags %}
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		{% block extra_head %}{% endblock %}
	</head>
    <body{% block body_attrs %}{% endblock %}>

		<div class="page-wrapper">
		<header class="page-header {% block page_header_class %}{% endblock %}">
				<h1><a href="/">{{ settings.authorsanonymous.SiteCopy.site_title }}</a></h1>
				<nav>
					<a href="#menu">Menu <i class="fas fa-bars"></i></a>
				</nav>
			</header>

			<nav id="menu" class="page-menu">
				<div class="inner">
					<h2>Menu</h2>
					<ul class="links">
					{% with homepage=request.site.root_page %}
						<li><a href="{% pageurl homepage %}">Home</a></li>
						{% for child in homepage.get_children.live.in_menu %}
						{% pageurlblock child as href %}
						<li><a href="{{ href }}">{{ child }}</a></li>
						{% endpageurlblock %}
						{% endfor %}
					{% endwith %}
					</ul>
					<a href="#" class="close">Close</a>
				</div>
			</nav>

			{% block content %}
			{% endblock %}


			<footer class="page-footer">
				<div class="inner">
					{% with contact_details=settings.authorsanonymous.ContactDetails %}
					<h2 class="major">{{ settings.authorsanonymous.SiteCopy.contact_title }}</h2>
					{{ settings.authorsanonymous.SiteCopy.contact_body|richtext }}

					{% if contact_details.email and show_contact_form %}
					<form method="post" action="{% url "contact" %}">
						{% csrf_token %}
						{% for field in contact_form %}
						<div class="field">
							<label for="{{ field.id_for_label }}">{{ field.label }}</label>
							{{ field }}
						</div>
						{% endfor %}
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</form>
					{% endif %}
					<ul class="contact">
						{% if contact_details.address %}
							<li><i class="far fa-home"></i>{{ contact_details.address|linebreaksbr }}</li>
						{% endif %}
						{% if contact_details.phone %}
							<li><i class="far fa-phone"></i>{{ contact_details.phone }}</li>
						{% endif %}
						{% if contact_details.email and contact_details.email_public %}
							<li><i class="fas fa-envelope"></i> <a href="mailto:{{ contact_details.email }}">{{ contact_details.email }}</a></li>
						{% endif %}
						{% if contact_details.facebook_url %}
							<li><i class="fab fa-facebook"></i> <a href="{{ contact_details.facebook_url}}" target="_blank">{{ contact_details.nice_facebook_url }}</a></li>
						{% endif %}
						{% if contact_details.goodreads_url %}
							<li><i class="fab fa-goodreads"></i> <a href="{{ contact_details.goodreads_url}}" target="_blank">Goodreads</a></li>
						{% endif %}
						{% if contact_details.twitter_handle %}
							<li><i class="fab fa-twitter"></i> <a href="{{ contact_details.twitter_url }}" target="_blank">@{{ contact_details.twitter_handle }}</a></li>
						{% endif %}
						{% if contact_details.instagram_handle %}
							<li><i class="fab fa-instagram"></i> <a href="{{ contact_details.instagram_url }}" target="_blank">@{{ contact_details.instagram_handle }}</a></li>
						{% endif %}
						{% for extra_account in contact_details.extra_accounts.all %}
						<li><i class="far {{ extra_account.icon }}"></i> <a href="{{ extra_account.url }}" target="_blank">{{ extra_account.text }}</a></li>
						{% endfor %}
					</ul>
					<ul class="copyright">
						<li>&copy; {{ settings.authorsanonymous.SiteCopy.copyright }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
					{% endwith %}
				</div>
			</footer>

		</div>

		{% block footer %}{% endblock %}

		{% block scripts %}
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% endblock %}

	</body>
</html>

