{% extends "layouts/base.html" %}

{% load wagtailcore_tags %}

{% block title %}{{ settings.authorsanonymous.SiteCopy.contact_title }}{% endblock %}

{% block content %}
<main>
	<header>
		<div class="inner">
			<h2>{{ settings.authorsanonymous.SiteCopy.contact_title }}</h2>
		</div>
	</header>

	<div class="wrapper">
		<div class="inner">
			{{ settings.authorsanonymous.SiteCopy.contact_body|richtext }}

			<form method="post" action="{% url "contact_submit" %}" id="contact" data-prefix="{{ contact_form.prefix }}">

				{% csrf_token %}
				{% for field in contact_form %}
				<div class="field">
					<label for="{{ field.id_for_label }}">{{ field.label }}</label>
					{{ field }}
				</div>
				{% endfor %}
				<ul class="actions">
					<li><input type="submit" value="Send message" /></li>
				</ul>
			</form>
		</div>
	</div>

</main>
{% endblock %}
