{% extends "layouts/page.html" %}

{% load wagtailcore_tags %}
{% load authorsanonymous_tags %}

{% block page_header_class %}alt{% endblock %}

{% block content %}

<section {% body_background page class="banner" %}>
	<div class="inner">
		<div class="logo"><span class="icon {{ page.header_icon }}"></span></div>
		<h2>{{ page.header_text }}</h2>
		{{ page.header_body|richtext }}
	</div>
</section>

<main>

	{% for child in page.body %}
		{% cycle '' 'alt' as section_alt silent %}
		{% cycle 'style1' 'style2' 'style3' as section_style silent %}
		{% include_block child %}
	{% endfor %}

</main>
{% endblock %}
